@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #3E4056;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.header {
  background-color: #ffffff;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.06);
  &__wrapper {
    position: relative;
  }
  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    transform: translateY(50%);
    border-radius: 50%;
    background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
    &:after {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 42px;
      line-height: 64px;
      color: #ffffff;
    }
    @media screen and (max-width: 768px) {
      width: 36px;
      height: 36px;
      right: 50%;
      transform: translate(50%, 50%);
      &:after {
        font-size: 20px;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 23px;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 16px;
    }
    &__name {
      margin-right: 20px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      color: #3E3F58;
    }
    &__photo {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    &__options {
      width: 8px;
      margin-right: 20px;
    }
    &__icons {
      display: flex;
      align-items: center;
      &__item {
        width: 32px;
        height: 32px;
        padding: 8px;
      }
    }
  }
  &__tabs {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    &__item {
      position: relative;
      margin-right: 37px;
      padding-bottom: 23px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: #3E4056;
      opacity: 0.6;
      transition: ease-in 0.3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
        opacity: 0;
      }
      &.active {
        opacity: 1;
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
.content {
  flex-grow: 1;
  padding: 72px 0;
  background-color: rgba(236, 241, 248, 0.4);
  &-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}
.user-details {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  @media screen and (max-width: 1024px){
    max-width: 100%;
    margin-bottom: 60px;
  }
  &__options {
    position: absolute;
    top: 0;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 0 6px;
    &:hover &-view {
      display: flex;

    }
  }
  &__options-view {
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
    flex-direction: column;
    width: 176px;
    padding: 24px 0;
    background-color: #ffffff;
    opacity: 0.94;
    border-radius: 8px;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.12);
    &__link {
      display: flex;
      align-items: center;
      padding: 8px 10px 8px 26px;
      background-color: transparent;
      transition: ease-in 0.3s;
      &.active {
        background: rgba(236, 241, 248, 0.6);
        backdrop-filter: blur(54.3656px);
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        padding: 2px;
      }
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #3E4056;
      }
    }
  }
  &__main {
    display: flex;
    align-items: flex-start;
    margin: 0 0 32px;
    &__photo {
      width: 120px;
      height: 120px;
      margin-right: 24px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      &__name {
        margin-bottom: 8px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #3E3F58;
      }
      &__nickname {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: -0.5px;
        color: #3E3F58;
      }
      &__edit {
        display: flex;
        align-items: center;
        margin: 0;
        &:hover {
          span {
            text-decoration: underline;
          }
        }
        &__icon {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
        &__link {
          font-size: 16px;
          line-height: 20px;
          color: #F05D63;
        }
      }
    }
  }
  &__stats {
    display: flex;
    align-items: flex-start;
    margin: 0 0 23px;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 48px;
      &:last-child {
        margin-right: 0;
      }
      &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #3e3f58;
      }
      &__text {
        font-size: 16px;
        line-height: 24px;
        color: #3e3f58;
        text-align: center;
      }
    }
  }
  &__description {
    font-size: 16px;
    line-height: 24px;
    color: #3E3F58;
  }
}
.posts {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 47px;
  @media screen and (max-width: 1024px) {
    padding-left: 0;
  }
  &__switcher {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
    &__wrapper {
      display: flex;
      margin: 0 30px;
      label {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
        background: #b2b3bb;
        border-radius: 50px;
        transition: all .3s ease;
        transform-origin: 20% center;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 18px;
          height: 18px;
          top: 3px;
          left: 3px;
          transition: .3s ease;
          border-radius: 50%;
          background: #fff;
        }
      }
      input {
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
      }
      #switcher:checked + label {
        background: #ed5267;
        &:before {
          left: calc(100% - 21px);
        }
      }
    }
    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #3E4056;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      grid-column-gap: 0;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.12);
    &__shared {
      display: flex;
      align-items: center;
      min-height: 30px;
      margin-bottom: 10px;
      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      span {
        flex-shrink: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #3E4056;
        &.posts__item__shared__tag {
          flex-shrink: 1;
          padding: 4px;
          background-color: #ecf1f8;
          border-radius: 6px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    &__title {
      margin-bottom: 44px;
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      line-height: 44px;
      color: #3E4056;
    }
    &__params {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__author {
        display: flex;
        align-items: center;
        &__photo {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          margin-right: 8px;
          background-color: #b2b3bb;
          border-radius: 50%;
        }
        &__name {
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: #3e4056;
        }
      }
      &__statistics {
        display: flex;
        align-items: center;
        &__item {
          display: flex;
          align-items: center;
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
          img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
      &__share-link {
        font-size: 18px;
        line-height: 25px;
        color: #f05d63;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}